.main_div {
  background-color: #141D2F;
}

.vector {
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 940px;
  z-index: 2;
}

.photo_div {
  background-image: url("/assets/img/photo-bgr.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 800px;
  margin-top: 100px;
  margin-left: 150px;
}

.line {
  width: 300px;
  height: 4px;
  pointer-events: none;
}

.i_am {
  position: absolute;
  transform: rotate(270deg);
  font-weight: 400;
  font-size: 64px;
  left: -120px;
  top: 50px;
}

.name_div {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 300px;
  right: 15%;
  color: #fff;
}

.name {
  font-size: 90px;
  font-weight: 700;
  margin-bottom: -30px;
}

.developer {
  color: #9747FF;
  font-size: 58px;
  font-weight: 400px;
}

.contact {
  font-size: 23px;
  z-index: 10;
  display: flex;
  position: absolute;
  top: 1410px;
}
.contact a {
  color: #fff;
  text-decoration: none;
}

.contact_images {
  display: flex;
  align-items: center;
}
.contact_images img {
  margin-right: 50px;
  transition: 200ms;
}
.contact_images img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.button_talk {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 200px;
  left: 204px;
  background-color: #70E61C;
  width: 165px;
  height: 58px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
  font-size: 23px;
}
.button_talk:hover {
  background-color: #9747FF;
  transform: scale(1.1);
}

.scroll {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  position: absolute;
  top: 800px;
  right: 5%;
}
.scroll img {
  width: 20px;
}

.scroll_text {
  transform: rotate(90deg);
}

.arrow {
  animation: bounce 0.5s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1750px) {
  .main_div {
    padding-bottom: 450px;
  }
  .name_div {
    right: unset;
    z-index: 10;
    top: 1400px;
    left: calc(50% - 280px);
  }
  .contact {
    top: 1750px;
  }
  .vector {
    height: 300px;
    top: 1200px;
  }
  .photo_div {
    margin-left: calc(50% - 466px);
  }
}
@media screen and (max-width: 1100px) {
  .profil_img {
    width: 600px;
  }
  .photo_div {
    margin-left: calc(50% - 322px);
  }
  .vector {
    height: 300px;
    top: 924px;
  }
  .name_div {
    top: 1100px;
  }
  .contact {
    top: 1450px;
  }
}
@media screen and (max-width: 900px) {
  .contact a {
    display: none;
  }
  .scroll {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .name {
    font-size: 45px;
  }
  .developer {
    margin-top: 20px;
    font-size: 29px;
  }
  .i_am {
    font-size: 32px;
    left: -64px;
    top: 28px;
  }
  .name_div {
    left: calc(50% - 135px);
    top: 900px;
  }
  .button_talk {
    left: calc(15% - 10px);
    top: 177px;
  }
  .profil_img {
    width: 450px;
  }
  .photo_div {
    margin-left: calc(50% - 242px);
  }
  .vector {
    top: 700px;
    height: 400px;
  }
  .contact {
    top: 1250px;
  }
}
@media screen and (max-width: 580px) {
  .line {
    width: 80px;
  }
}
@media screen and (max-width: 500px) {
  .profil_img {
    width: 300px;
  }
  .photo_div {
    margin-left: calc(50% - 152px);
    background-size: 110%;
    background-position-x: center;
  }
  .vector {
    height: 208px;
    top: 570px;
  }
  .name_div {
    top: 700px;
  }
  .contact {
    top: 1000px;
  }
  .main_div {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 420px) {
  .name {
    font-size: 35px;
  }
  .developer {
    font-size: 22px;
  }
  .i_am {
    font-size: 22px;
    left: -47px;
    top: 25px;
  }
  .name_div {
    left: calc(50% - 102px);
  }
  .contact {
    top: 950px;
  }
  .button_talk {
    top: 130px;
  }
  .main_div {
    padding-bottom: 50px;
  }
}/*# sourceMappingURL=introduce.component.css.map */