.main_div {
  z-index: 1;
  position: relative;
  background-color: #141D2F;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/img/Green shadow 2 (1).png");
  background-repeat: no-repeat;
  background-position: left 0px top 50px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.skill_images {
  box-sizing: border-box;
  opacity: 0;
  margin-left: 300px;
  width: 800px;
}
.skill_images img {
  margin-right: 80px;
  margin-bottom: 40px;
}
.skill_images img:hover {
  animation: bounce 0.3s;
}

.shadow {
  position: absolute;
  top: 50px;
  z-index: 0;
}

.headline {
  font-size: 90px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.line {
  width: 350px;
  height: 4px;
}

.button_touch {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #70E61C;
  width: 165px;
  height: 58px;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms;
  font-size: 23px;
}
.button_touch:hover {
  background-color: #9747FF;
  transform: scale(1.1);
}

.description {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description span {
  margin: 30px 0 30px 0;
}

.flip-in-hor-bottom {
  opacity: 1;
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

a {
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@media screen and (max-width: 1750px) {
  .main_div {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 300px;
  }
  .my_skills_div {
    z-index: 5;
    width: 100%;
    justify-content: center;
  }
  .description {
    width: unset;
    align-items: flex-start;
  }
  .description span {
    width: 300px;
    margin: 20px 75px 75px 154px;
  }
  .headline {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .line {
    width: 120px;
  }
  .button_touch {
    position: absolute;
    top: 1085px;
    left: calc(50% - 83px);
  }
}
@media screen and (max-width: 1200px) {
  .skill_images {
    margin-left: 15%;
  }
}
@media screen and (max-width: 1000px) {
  .skill_images {
    margin-left: 20%;
    width: 100%;
  }
  .button_touch {
    top: 900px;
  }
}
@media screen and (max-width: 850px) {
  .button_touch {
    top: 1000px;
  }
}
@media screen and (max-width: 750px) {
  .skill_images {
    margin: 0;
    padding: 0 40px 0 120px;
    box-sizing: border-box;
  }
  .skill_images img {
    width: 67px;
    margin-right: 40px;
  }
  .headline {
    font-size: 45px;
  }
  .button_touch {
    top: 790px;
  }
}
@media screen and (max-width: 700px) {
  .button_touch {
    top: 900px;
  }
}
@media screen and (max-width: 620px) {
  .skill_images {
    padding: 0 0px 0 11%;
  }
}
@media screen and (max-width: 500px) {
  .skill_images {
    padding: 0 0px 0 16%;
  }
  .skill_images img {
    margin-right: 20px;
    margin-top: 0px;
  }
  .line {
    width: 30px;
  }
  .description span {
    margin-left: 60px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 440px) {
  .skill_images {
    padding: 0 0px 0 14%;
  }
}
@media screen and (max-width: 430px) {
  .skill_images {
    padding: 0 0px 0 16%;
  }
  .button_touch {
    top: 1020px;
  }
  .line {
    width: 70px;
  }
}/*# sourceMappingURL=skills.component.css.map */