<footer class="footer">
    <div class="footer_sub">
        <a href="#header">
            <div class="logo">
                S<div class="i"></div>lvi<p>o</p>
            </div>
        </a>
        
        <a class="impressum" routerLink="./impressum">Imprint</a>
        

        <span>
            © Silvio Schriefl 2023
        </span>
        <div class="icons">
            <a target="_blank" href="https://github.com/SilvioSchriefl"><img src="/assets/img/git.png" alt=""></a>
            <a href="mailto:info@silvio-schriefl.de"><img src="/assets/img/Email button.png"></a>
            <a target="_blank" href="https://www.linkedin.com/in/silvio-schriefl-31855427a/"><img src="/assets/img/Linkedin button.png" alt=""></a>
        </div>
    </div>
</footer>