.footer
    border-top: 4px solid #70E61C
    background-color: #141D2F
    height: 291px
    color: #fff
    padding: 0 170px 0 200px
    a
        text-decoration: none
        

.logo
    display: flex
    align-items: center
    color: #fff
    font-size: 48px
    font-weight: bolder
    font-weight: 900
    font-style: Black
    letter-spacing: 2px
    p
        color: #70E61C

.i
    position: relative
    &::before
        content: 'i'
        color: #9747FF
    &::after
         content: 'ı'
         position: absolute
         left: -1px

.footer_sub
    margin-top: 60px 
    display: flex
    align-items: center
    justify-content: space-between
    
    span
        font-size: 23px
    img
        transition: 200ms
        margin-right: 30px
        &:hover
            transform: scale(1.2)
    

.impressum
    color: #fff
    font-size: 16px
    font-weight: 400
    &:hover
        color: #70E61C
