.footer
    border-top: 4px solid #70E61C
    background-color: #141D2F
    height: 291px
    color: #fff
    padding: 0px 300px 0px 300px
    a
        text-decoration: none
        

.logo
    display: flex
    align-items: center
    color: #fff
    font-size: 48px
    font-weight: bolder
    font-weight: 900
    font-style: Black
    letter-spacing: 2px
    p
        color: #70E61C
        margin: 0

.i
    position: relative
    &::before
        content: 'i'
        color: #9747FF
    &::after
         content: 'ı'
         position: absolute
         left: -1px

.footer_sub
    position: relative
    margin-top: 120px 
    display: flex
    align-items: center
    justify-content: space-between
    span
        font-size: 23px
    img
        transition: 200ms
        margin-right: 30px
        &:hover
            transform: scale(1.2)
    
.impressum
    position: absolute
    top: 60px
    left: 0
    color: #fff
    font-size: 16px
    font-weight: 400
    &:hover
        color: #70E61C

@media screen and ( max-width: 1850px )
    footer
        padding: 0 5% 0 5%  !important  

@media screen and ( max-width: 750px )

    .footer_sub
        flex-direction: column
        margin-top: 50px
        gap: 15px

    .impressum
        left: unset
        top: 180px

    .icons
        margin-left: 40px
