<footer class="footer">
    <div class="footer_sub">
        <a href="#header">
            <div class="logo">
                S<div class="i"></div>lvi<p>o</p>
            </div>
        </a>
        
        <a class="impressum" routerLink="./impressum">Impressum</a>
        

        <span>
            © Silvio Schriefl 2023
        </span>
        <div class="icons">
            <a href=""><img src="/assets/img/git.png" alt=""></a>
            <a href=""><img src="/assets/img/Email button.png" alt=""></a>
            <a href=""><img src="/assets/img/Linkedin button.png" alt=""></a>
        </div>
    </div>
</footer>