.main_div
    color: #fff
    background-color: #141D2F
    width: 100%

.headline
    font-size: 90px
    font-weight: 700
    margin-left: 100px

.description
    font-size: 16px
    width: 480px

.description2
    margin-top: 50px
    display: flex
    font-size: 16px
    width: 480px
    margin-left: 100px
    img
        margin-right: 20px

.shadow
    position: absolute
    top: 750px
    right: 0

.circle_div
    position: absolute
    display: flex
    align-items: center
    right: 0
    top: 1100px

.profil_img
    position: absolute
    width: 448px
    height: 443px
    border-radius: 100%
    overflow: hidden
    img
        position: absolute
        width: 1000px
        top: -400px
        left: -315px
   

    

