<div class="main_div" id="about">
    <img class="shadow" src="/assets/img/Purple shadow 2.png" alt="">

    <div class="about_me">
        <div class="circle_div">
            <img src="/assets/img/kreis.png" alt="">
            <img class="line" src="/assets/img/LINE .png" alt="">
            <div class="profil_img">
                <img src="/assets/img/profil2.png" alt="">
            </div>
        </div>
        <div class="about_me_sub">
            <div class="headline">
                About me
                <div class="description">
                    Hey, nice to meet you!

                    I am Silvio, a German-speaking Frontend Developer near Munich with experience in building web apps
                    with
                    JavaScript & Angular. I have written projects alone or in teams, based on clean
                    code principles. You're welcome to visit my public portfolio.
                </div>
            </div>
            <div class="description2">
                <img src="/assets/img/glühbirne.svg" alt="">
                I am fascinated by the variety of possibilities in programming. Building projects from scratch and the
                sense of achievement after finishing them are one of my favorite aspects. I am looking for an opportunity to prove my skills as a junior frontend developer.
            </div>
            <div class="description2">
                <img src="/assets/img/puzzle.svg" alt="">
                I am very glad to have found my place in the world of programming, now I am seeking a place in a great team.
                My goal is to constantly learn and grow. I am highly motivated and excited to master new challenges and to learn from them every day.
            </div>
        </div>
    </div>
</div>