.main_div
    scroll-padding-margin: 500px
    position: relative
    background-color: #141D2F
    color: #fff
    width: 100%
    background-image: url("/assets/img/Purple shadow 3.png")
    background-repeat: no-repeat
    background-position: left 0px top 1400px

#portfolio:before
    display: block
    content: " "
    margin-top: -200px
    height: 200px
    visibility: hidden

.headline
    margin-left: calc( 50% - 308px )
    display: flex
    align-items: center
    font-size: 90px
    font-weight: 700

.line
    width: 90%
    display: flex
    align-items: center
    img
        width: 100%
        height: 4px

.description
    margin-left: calc( 52% - 338px )
    margin-bottom: 100px

.projects_div
    display: flex
    flex-direction: column
    align-items: center

.project
    z-index: 1
    width: 60%
    display: flex
    align-items: center
    justify-content: space-between
    transition: 300ms
    opacity: 0

.buttons
    display: flex
    margin-top: 20px
    gap: 100px

.flex_direction
    flex-direction: row-reverse

.name
    font-size: 32px
    font-weight: 700
    color: #9747FF
    margin-bottom: 20px

.language
    font-size: 23px
    font-weight: 400
    color: #70E61C
    margin-bottom: 20px

.button_test
    display: flex
    justify-content: center
    align-items: center
    background-color: #9747FF
    width: 152px
    height: 58px
    border-radius: 10px
    cursor: pointer
    transition: 300ms
    font-size: 23px
    &:hover
        background-color: #70E61C

.button_git
    font-size: 23px
    display: flex
    justify-content: center
    align-items: center
    width: 137px
    height: 58px
    border-radius: 10px
    border: 1px solid #70E61C
    transition: 300ms
    &:hover
        cursor: pointer
        background-color: #70E61C

.project_detail
    width: 530px

.shadow
    position: absolute
    right: 0
    top: 1800px

.slide_in_right
    -webkit-animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

.slide_in_left
    -webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

@-webkit-keyframes slide-in-right
  0% 
    -webkit-transform: translateX(40%)
    transform: translateX(40%)
    opacity: 0

  100% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
    opacity: 1

@keyframes slide-in-right
    0%
        -webkit-transform: translateX(40%)
        transform: translateX(40%)
        opacity: 0

    100%
        -webkit-transform: translateX(0)
        transform: translateX(0)
        opacity: 1

@-webkit-keyframes slide-in-left
  0% 
    -webkit-transform: translateX(-40%)
    transform: translateX(-40%)
    opacity: 0

  100% 
    -webkit-transform: translateX(0)
    transform: translateX(0)
    opacity: 1

@keyframes slide-in-left
    0%
        -webkit-transform: translateX(-40%)
        transform: translateX(-40%)
        opacity: 0

    100%
        -webkit-transform: translateX(0)
        transform: translateX(0)
        opacity: 1

@media screen and ( max-width: 1600px )
    .project
        width: 77%

@media screen and ( max-width: 1400px )

    .project
        img
            width: 418px
            margin-top: 20px

    .main_div
        background-position: left -100px top 1000px
        background-size: 400px

@media screen and ( max-width: 1100px )
    .project
        width: 85%

@media screen and ( max-width: 1000px )
    .project
        flex-direction: column
        align-items: center

@media screen and ( max-width: 750px )

    .headline
        font-size: 45px
        margin-left: calc(50% - 209px)

    .main_div
        background-position: left -200px top 1000px

    .description
        margin-left: 0
        margin-bottom: 10px
        text-align: center
        padding: 0 15px 0 15px

    .project_detail
        width: 85%

    .buttons
        gap: 20px

@media screen and ( max-width: 500px )

    .project
        img
            width: 318px
