<div class="main_div">
    <img class="vector" src="/assets/img/Vector.png" alt="">
    <div class="photo_div">
        
        <img class="profil_img" src="/assets/img/profil.png" alt="">
    </div>
    <div class="name_div">
        <div class="i_am">I am</div>
        <div>
            <div class="name">Silvio Schriefl</div>
            <div class="developer">FRONTEND DEVELOPER</div>
        </div>
         <a href="#contact"><div class="button_talk">Let`s talk!</div></a>
    </div>
    <div class="contact" id="about">
        <div class="contact_images">
            <img class="line" src="/assets/img/line.png" alt="">
            <a target="_blank" href="https://github.com/SilvioSchriefl"><img src="/assets/img/git.png" alt=""></a>
            <a href="#contact"> <img src="/assets/img/Email button.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/silvio-schriefl-31855427a/"><img src="/assets/img/Linkedin button.png" alt=""></a>
        </div>
        <a href="#contact">info@silvio-schriefl.de</a>
    </div>
    <div class="scroll">
        <p class="scroll_text">Scroll down</p> 
        <img class="arrow" src="/assets/img/arrow-down.png" alt="">
    </div>
    
</div>